h1 {
	color: brown;
	font-family: monospace;
	font-style: oblique;
}
.pmain {
	color: yellow;
	font-family: Helvetica;
	font-weight: bold;
}

img {
	height: 100px;
	width: auto;
	box-shadow: 5px 10px #888888;
}
