h1 {
	color: firebrick;
	font-family: monospace;
	font-style: oblique;
}
.pmain {
	color: yellow;
	font-family: Helvetica;
	font-weight: bold;
}

img {
	height: 50px;
	width: auto;
	box-shadow: 15px 20px #888888;
}
